-f https://data.pyg.org/whl/torch-1.10.2+cpu.html
torch-scatter
-f https://data.pyg.org/whl/torch-1.10.2+cpu.html
torch-sparse
-f https://data.pyg.org/whl/torch-1.10.2+cpu.html
torch-cluster
-f https://data.pyg.org/whl/torch-1.10.2+cpu.html
torch-spline-conv
-f https://data.pyg.org/whl/torch-1.10.2+cpu.html
torch-geometric==2.0.3
torch-geometric-temporal==0.52.0
