splitter:
  root: examples/DATA_SPLITS/
  class_name: pydgn.data.splitter.SingleGraphSplitter
  args:
    n_outer_folds: 3
    n_inner_folds: 1
    seed: 42
    stratify: True
    shuffle: True
    inner_val_ratio: 0.05
    outer_val_ratio: 0.05
    test_ratio: 0.1  # in this case test_ratio will always be used and will apply to the number of total edges
dataset:
  root: DATA/
  class_name: pydgn.data.dataset.PlanetoidDatasetInterface
  args:
    root: DATA/
    name: cora
    split: full  # we will split the full graph according to the edges, not according to classes
