name: Interrogate documentation

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Python Interrogate Check
      uses: diningphil/python-interrogate-check@main
      with:
        path: 'pydgn'
        badge-location: 'badges/interrogate_badge.svg'


    - name: Commit files
      if: github.event_name == 'push'
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add badges/interrogate_badge.svg
        git diff --exit-code || git commit -m "Update interrogate_badge.svg" -a

    - name: Push changes
      if: github.event_name == 'push' && success()
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
